.DS_Store

/auth/node_modules
/auth/package-lock.json

/client/.next
/client/node_modules
/client/package-lock.json

/common/node_modules
/common/build
/common/package-lock.json

/expiration/node_modules
/expiration/package-lock.json

/nats_test/node_modules
/nats_test/package-lock.json

/orders/node_modules
/orders/coverage
/orders/package-lock.json

/payments/node_modules
/payments/coverage
/payments/package-lock.json

/tickets/node_modules
/tickets/coverage
/tickets/package-lock.json

/testing/node_modules
/testing/package-lock.json



